@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;

.titre__button{
		width: 218px;
		height: 50px;
		background: $color-buttons;
		color: rgba(255, 255, 255, 1);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		border: none;
		border-radius: 30px;
		font-size: 16px;
		margin-top: 20px;
		cursor: pointer;
		transition:opacity 0.3s, transform 0.3s;
	}
	.titre__button:hover{
		opacity: 0.9;
		transform: scaleX(1.01);
	}

.button-listItam{
	cursor: pointer !important;
		span {
			@include span-buttons-list
		}
		i{
			@include i-buttons-list
		}
		.fa-store{
			color: rgba(147, 86, 220, 1);
		}
			@include buttons-list
}

.button-pages{
	width: 186px;
	height: 50px;
	background: $color-buttons;
	color: white;
	border: none;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	transition:opacity 0.3s, transform 0.3s;
	cursor: pointer;
		@media (min-width: 1024px) {
			margin-top: 10px;
		}
}
.button-pages:hover{
	opacity: 0.9;
	transform: scaleX(1.01);
}
