@use '../abstracts/breakpoint' as *;

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	visibility: visible;
	font-family: Roboto, sans-serif;
	overflow-x: hidden;
		@include media (md) {
			margin: 0;
		}
}

.container{
	display: flex; 
	flex-direction: column;
    justify-content: center; 
    align-items: center;
	width: 100%;
	height: auto;
    padding: 0 20px;
    box-sizing: border-box;
		@include media (md) {
			margin: 0;
		}
}

  