@use '../abstracts/breakpoint' as *;

.image{
	position: relative;
	width: 340px;
	height: 231px;
	clip-path: inset(55px 0 0 0);
	border-radius: 15px 15px 0 0; 
	margin-top: -57px;
	object-fit: cover;
		@include media(md) {
			width: 492px;
		}
}

.page1-img {
	width: 375px;
	margin-top: 0;
	position: relative;
		@include media(md) {
		width: 1270px;
		height: 430px;
		margin-top: -91px;
		object-fit: cover;
		clip-path: inset(90px 0 0 0);
		}
}

.page2-img {
	margin-top: -97px;
	clip-path: inset(97px 0 0 0);
}