@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
@use '../abstracts/breakpoint' as *;

.list-item {
	@include list-item;
		@include media(md) {
			width: 634px;
		}
		.card_dish{
			@include card-dish;
				@include media(md) {
					margin-top: -20px;
				}
				.list-item-titre {
					@include list-item-titre;
				}	
				.list-item-p {
					@include list-item-p;
				}	
		}
.card_price{
	margin-top: 33px;
	margin-right: 15px;
	border: none;
	transition: 0.6s ease-in-out;
	font-weight: bold;
	font-size: 14px;
		@include media(md) {
			margin-top: 15px;
		}
}
.box-green{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(153, 226, 208, 1);
	width: 56px;
	right: -126px;
	height: 71px;
	border: none;
	margin-top: -1px;
	border-radius: 0px 15px 15px 0px;
	transition: 0.6s ease-in-out;
	@include media(md) {
		margin-top: -20px;
	}
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			background-color: white;
			border-radius: 50px;
			i{
				display: flex;
				align-items: center;
				justify-content: center;
				color: rgba(153, 226, 208, 1);
				font-size: 15px;
				padding: 2px 2px 0 2px;
			}
		}
}
}
.list-item:nth-child(1) {
	animation-delay: 1s;
}
.list-item:nth-child(2) {
	animation-delay: 2s;
}
.list-item:nth-child(3) {
	animation-delay: 3s;
}
.list-item:nth-child(4) {
	animation-delay: 4s;
}
.list-item:hover .card_price{
	transform: translateX(-200%);
		@include media(md) {
			transform: translateX(-135%);		
		}
}
.list-item:hover .box-green{
	transform: translateX(-100%);
}
.list--itam{
	margin-top: 60px;
}
.list-item-page3{
	height: 85px;
}