@use '../abstracts/mixin' as *;
@use '../abstracts/breakpoint' as *;


.list{
    display: flex;
	flex-direction: column;
	width: 375px;
	height: 440px;
		@include media(md) {
			width: 1270px;
			height: 228.38px;
		}
}
.list__titre{
	width: 275px;
	height: 31px;
	margin-top: 50px;
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
		@include media(md) {
			margin-left: 112px;
		}
}
.list__items{
	display: flex;
	flex-direction: column;
	gap: 25px;
		@include media(md) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
		&--listItem{
			width: 335px;
			height: 72.38px;
			list-style-type: none;
		}
}

