@use '../abstracts/variables' as *;
@use '../abstracts/breakpoint' as *;


.titre {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $primary;
	margin-top: 11px;
	width: 375px;
	height: 300px;
		@include media(md) {
			width: 1270px;
			margin-top: 0;
			height: 230px;
		}
		&__page{
			width: 275px;
			height: 68px;
			font-size: 25px;
			margin-top: 40px ;
			display: flex;
			justify-content: center; 
			text-align: center;
				@include media(md) {
					text-wrap: nowrap;
				}
		}
		&__p{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 315px;
			height: 46px;
			color: $dark-gray;
			font-size: 18px;
			line-height: 21.09px;
			text-align: center;
			margin-top: -10px;
				@include media(md) {
					text-wrap: nowrap;
					font-size: 11px;
					margin-top: -50px;
				}
		}
}