@keyframes slideIn {
	from {
		width: 0;
	  opacity: 0;
	}
	to {
		width: 17%;
	  opacity: 1;
	}
  }

  
  @keyframes movePrice {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-40%);
	}
  }

	@keyframes spin {
		0% {
		  transform: rotate(0deg);
		}
		100% {
		  transform: rotate(360deg);
		}
	  }
	  
	  @keyframes out-loader {
		0% {
		  opacity: 1;
		}
		100% {
		  opacity: 0;
		}
	  }
	  
	  @keyframes out-overlay {
		0% {
		  opacity: 1;
		  visibility: visible;
		}
		100% {
		  opacity: 0;
		  visibility: hidden;
		}
	  }