@use '../abstracts/breakpoint' as *;

.checkbox-1{
	margin-top: -40px;
	display: none;
}
.label-1{
	cursor: pointer;
	width: 23px;
	height: 20px;
	margin-top: -61px;
	margin-left: 285px;
}
.heart-1{
	display: flex;
	align-self: flex-end;
	align-items: center;
	justify-content: center;
	margin-top: -3px;
	margin-right: 2px;
	font-size: 25px;
	opacity: 0.9;
	color: black;
	background-color: transparent;
	--webkit-text-stroke: 1px black;
	transition: all 0.3s ease;
		@include media (md) {
			margin-left: 150px;
		}
}
.checkbox-1:checked ~ .label-1 .heart-1{
	color: #9356DC;
	font-weight: 900;
}

.checkbox-page{
	margin-top: -40px;
	display: none;
}
.label-page{
	cursor: pointer;
	width: 23px;
	height: 20px;
	margin-left: -140px;
}
.heart-page{
	font-size: 22px;
	opacity: 0.9;
	padding-right: 150px;
}
.checkbox-page:checked ~ .label-page .heart-page{
	color: #9356DC;
	font-weight: 900;
}