@import '../../assets/mixins/mixin.scss';
@import '../../assets/variables/variable.scss';
@import '../../assets/animations/animation.scss';




// * {
// 	font-family: Roboto;
// }

// body{
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }

// .container{
// 	display: flex; 
// 	flex-direction: column;
//     justify-content: center; 
//     align-items: center;
// 	width: 100%;
// 	height: auto;
//     padding: 0 20px;
//     box-sizing: border-box;
// }

// .headers{
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: 375px;
// 	height: 63px;
// 		@media (min-width: 1024px) {
// 			width: 1270px;
// 			height: 96.34px;
// 		}
// }

.page2-log{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 375px;
	height: 63px;
		&__icon-header{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
				a{
					text-decoration: none;
					color: inherit;
				}
				.fa-arrow-left{
					display: flex;
					align-items: center;
					justify-content: center;
					color: rgba(53, 53, 53, 1);
					font-size: 19px;
					padding-right: 105px;
						@media (min-width: 1024px) {
							margin-left: -900px;
						}
			}
		}
		&__logo{
			width: 197px;
			height: 36px;
		}
}

.page2-img {
	width: 375px;
	margin-top: -97px;
	position: relative;
	clip-path: inset(97px 0 0 0);
		@media (min-width: 1024px) {
			width: 1270px;
			height: 430px;
			margin-top: -91px;
			object-fit: cover;
			clip-path: inset(90px 0 0 0);
		}
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	margin-top: -157px;
	width: 375px;
	height: 1170px;
	background: $primary;
	border-radius: 40px 40px 0 0;
		@media (min-width: 1024px) {
			margin-left: 110px;
			width: 1055px;
			height: 1220px;
			margin-top: -46px;
		}
		div{
			display: flex;
			flex-direction: row;
				h1{
					width: 341px;
					height: 29px;
					font-family: Shrikhand;
					font-size: 28px;
					font-style: italic;
					font-weight: bold;
					-webkit-text-stroke: 1px;
					color: rgba(16, 16, 16, 1);
					margin-left: 90px;
					margin-top: 35px;
						@media (min-width: 1024px) {
							margin-left: 180px;
							margin-bottom: 50px;
						}
				}
				div{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 22px;
					height: 21px;
					margin-top: 43px;
					margin-right: 70px;
						@media (min-width: 1024px) {
							margin-left: -20px;
						}
						.checkbox{
							margin-top: -40px;
							display: none;
						}
						.label{
							cursor: pointer;
							width: 23px;
							height: 20px;
							margin-left: -140px;
						}
						i{
							font-size: 22px;
							opacity: 0.9;
							padding-right: 150px;
						}
						.checkbox:checked ~ .label i{
							color: #9356DC;
							font-weight: 900;
						}
				}
		}
		article{
			width: 349px;
			height: 333px;
				@media (min-width: 1024px) {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				div{
					display: flex;
					flex-direction: column;
						@media (min-width: 1024px) {
							width: 634px;
						}
					p{
						width: 275px;
						height: 27px;
						font-size: 17px;
						font-weight: 300;
						color: rgba(0, 0, 0, 1);
							@media (min-width: 1024px) {
								padding-right: 361px;
							}
					}
					div{
						width: 40px;
						height: 0;
						margin-top: -15px;
						border: $light-green;
							@media (min-width: 1024px) {
								margin-left: -518px;
								margin-bottom: -20px;
							}
					}
				}
				div{
					@media (min-width: 1024px) {
						display: flex;
						justify-content: center;
						align-items: center;
					}
					ul{
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 10px;
							@media (min-width: 1024px) {
								width: 634px;
								height: 270px;
								justify-content: center;
							}
							.list-item-1{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											span{
												margin-left: 169px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 448px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													height: 69.5px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-1 {
										display: none;
									}
									.trigger-1 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-1:checked + .trigger-1 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-1:hover + .trigger-1 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-2{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-35{
												margin-left: 85px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 365px;
													}
											}	
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-2 {
										display: none;
									}
									.trigger-2 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-2:checked + .trigger-2 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-2:hover + .trigger-2 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-3{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}	
											.montant-20{
												margin-left: 222px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 502px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
													height: 69.5px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-3 {
										display: none;
									}
									.trigger-3 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-3:checked + .trigger-3 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-3:hover + .trigger-3 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-4{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-40{
												margin-left: 160px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 440px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-4 {
										display: none;
									}
									.trigger-4 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-4:checked + .trigger-4 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-4:hover + .trigger-4 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-5{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-list{
												margin-left: 130px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 410px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
													height: 69.5px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-5 {
										display: none;
									}
									.trigger-5 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-5:checked + .trigger-5 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-5:hover + .trigger-5 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-6{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-list-1{
												margin-left: 154px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 435px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-6 {
										display: none;
									}
									.trigger-6 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-6:checked + .trigger-6 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-6:hover + .trigger-6 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-7{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-list-2{
												margin-left: 240px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 517px;
													}
											}

									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
													height: 69.5px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-7 {
										display: none;
									}
									.trigger-7 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-7:checked + .trigger-7 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-7:hover + .trigger-7 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-8{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-list-3{
												margin-left: 230px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 508px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-8 {
										display: none;
									}
									.trigger-8 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-8:checked + .trigger-8 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-8:hover + .trigger-8 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							.list-item-9{
								@include list-item;
									@media (min-width: 1024px) {
										width: 634px;
									}
									h2{
										@include list-item-titre;
									}
									p{
										@include list-item-p;
											@media (min-width: 1024px) {
												text-wrap: nowrap;
												width: 0;
											}
											.montant-list-4{
												margin-left: 208px;
												font-weight: bold;
													@media (min-width: 1024px) {
														margin-left: 485px;
													}
											}
									}
									label{
										div{
											display: flex;
											align-items: center;
											justify-content: center;
											position: absolute;
											background: rgba(153, 226, 208, 1);
											width: 56px;
											right: -70px;
											height: 69px;
											border: none;
											margin-top: -1px;
											border-radius: 0px 15px 15px 0px;
											opacity: 0;
												@media (min-width: 1024px) {
													margin-left: 634px;
													height: 69.5px;
												}
												span{
													display: flex;
													align-items: center;
													width: 20px;
													height: 20px;
													background-color: white;
													border-radius: 50px;
													i{
														color: rgba(153, 226, 208, 1);
														font-size: 15px;
														padding: 2px 0 0 2px;
													}
												}
										}
									}
									.toggle-checkbox-9 {
										display: none;
									}
									.trigger-9 {
										display: block;
										cursor: pointer;
										width: 100%;
										height: 100%;
										margin-top: -70px;
									}
									.toggle-checkbox-9:checked + .trigger-9 div {
										animation: slideIn 0.5s forwards; 
									}
									@media (min-width: 1024px) {
										.toggle-checkbox-9:hover + .trigger-9 div {
											animation: slideIn 0.5s forwards;
										}
									}
							}
							
					}
				}
		}
		button{
			width: 186px;
			height: 50px;
			background: $color-buttons;
			color: white;
			border: none;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 500;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
			border-radius: 25px;
			transition:opacity 0.3s, transform 0.3s;
			cursor: pointer;
				@media (min-width: 1024px) {
					margin-top: 10px;
				}
		}
		button:hover{
			opacity: 0.9;
			transform: scaleX(1.01);
		}
}

footer{
	width: 375px;
	height: 207px;
	background: rgba(53, 53, 53, 1);
	margin-top: 1000px;
		@media (min-width: 1024px) {
			display: flex;
			flex-direction: row;
			margin-top: 1174px;
			width: 1270px;
			height: 114px;
			position: relative;
		}
		h2{
			color: white;
			width: 139px;
			height: 27px;
			font-family: Shrikhand;
			font-size: 22px;
			font-style: italic;
			margin-top: 0;
			padding-top: 20px;
			padding-left: 15px;
			padding-bottom: 20px;
			font-weight: bold;
			-webkit-text-stroke: 1px;
				@media (min-width: 1024px) {
					margin-left: 150px;
					position: absolute;
					right: 0;
					bottom: -15px;
				}
		}
		div{
			width: 205px;
			height: 115px;
			margin-top: -18px;
				@media (min-width: 1024px) {
					display: flex;
					flex-direction: row;
					margin-top: 77px;
					margin-left: 470px;
				}
				p{
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-left: 14px;
					width: 290px;
					height: 25px;
					color: white;
					margin-top: -10px;
					white-space: nowrap;
				}
				.icon-restaurant{
					display: flex;
					flex-direction: row;
					width: 200px;
						i{
							margin-right: 23px;
							width: 11px;
							height: 13px;
						}
				}
				.icon-restaurant-2{
					display: flex;
					flex-direction: row;
					width: 165px;
					i{
						margin-right: 23px;
						width: 11px;
						height: 13px;
					}
				}
		}
}
